openapi: 3.2.0
info:
  contact:
    email: support@relexsolutions.com
    name: RELEX Solutions
  description: '# Introduction to the Monitoring API


    The RELEX Monitoring API provides a way to access monitoring data for RELEX services.'
  title: Monitoring Environments API
  version: 1.24.0
  x-logo:
    url: /img/monitoring.png
    backgroundColor: '#FFFFFF'
    altText: RELEX Solutions logo
servers:
- url: https://eu.monitor.relexsolutions.com
  description: For business requests from EU-based customers
- url: https://us.monitor.relexsolutions.com
  description: For business requests from US-based customers
tags:
- name: Environments
  description: Endpoints for managing and retrieving customer-specific environment configurations.
paths:
  /api/v{N}/{customer_id}/environments:
    get:
      tags:
      - Environments
      description: Returns a list of environments available to the customer
      operationId: get-environments
      summary: Get available environments
      parameters:
      - description: API version, MAJOR format
        in: path
        name: N
        required: true
        example: 1
        schema:
          type: integer
          enum:
          - 1
      - description: ID of the customer who the environments belong to
        in: path
        name: customer_id
        required: true
        example: example-customer
        schema:
          type: string
      responses:
        '200':
          description: Data was found and returned
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EnvironmentResult'
        '400':
          description: Client error, please check the request parameters
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/RequestError'
        '401':
          description: No authentication was provided
        '403':
          description: Authentication error, make sure the customer_id path parameter and the customer in 'client_id' token claim match each other
        '404':
          description: Requested path was not found
        '429':
          description: Too Many Requests
        '500':
          description: Internal server error, please contact the developers
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/RequestError'
      security:
      - oauth2: []
components:
  schemas:
    RequestError:
      type: object
      unevaluatedProperties: false
      required:
      - type
      - title
      - status
      - detail
      - instance
      properties:
        type:
          type: string
          description: Error type description
          example: ValidationError
        title:
          type: string
          description: Error general title
          example: Request parameters validation error
        status:
          type: integer
          description: Response code
          example: 400
        detail:
          type: string
          description: Detailed error description
          example: One or more errors occurred while validating request parameters
        instance:
          type: string
          format: uri-reference
          description: A URI reference that identifies the specific occurrence of the problem
          example: /api/v1/example-customer/events/file?env=
        errors:
          description: An array of validation errors in case there were any
          type: array
          items:
            type: object
            unevaluatedProperties: false
            required:
            - parameter
            - reason
            properties:
              parameter:
                type: string
                description: The name of the parameter which failed validation
                example: env
              reason:
                type: string
                description: Validation error message
                example: env must be at least 1 character in length
    EnvironmentResult:
      required:
      - environments
      unevaluatedProperties: false
      properties:
        environments:
          description: List of available environment names for the customer
          type: array
          items:
            type: string
            minLength: 1
            maxLength: 20
            example: dev
  securitySchemes:
    oauth2:
      type: oauth2
      description: 'OAuth2 client credentials grant. The token endpoint URL depends on the region:

        - EU: `https://identity.prod-eu.prod.cc.relexsolutions.com/monitoring_api_prod/connect/token`

        - US: `https://identity.prod-us.prod.cc.relexsolutions.com/monitoring_api_prod/connect/token`

        '
      flows:
        clientCredentials:
          tokenUrl: https://identity.prod-eu.prod.cc.relexsolutions.com/monitoring_api_prod/connect/token
          scopes: {}
