openapi: 3.2.0
info:
  contact:
    email: support@relexsolutions.com
    name: RELEX Solutions
  description: '# Introduction to the Monitoring API


    The RELEX Monitoring API provides a way to access monitoring data for RELEX services.'
  title: Monitoring Health API
  version: 1.24.0
  x-logo:
    url: /img/monitoring.png
    backgroundColor: '#FFFFFF'
    altText: RELEX Solutions logo
servers:
- url: https://eu.monitor.relexsolutions.com
  description: For business requests from EU-based customers
- url: https://us.monitor.relexsolutions.com
  description: For business requests from US-based customers
tags:
- name: Health
  description: Endpoint that report on the Monitoring API operational and readiness status.
paths:
  /api/v{N}/health:
    get:
      tags:
      - Health
      description: Check whether the service is alive and can be queried. This endpoint signals availability via response body; if the status field is different from "ok", this indicates service component unavailability.
      operationId: get-health
      summary: Get service status
      parameters:
      - description: API version, MAJOR format
        in: path
        name: N
        required: true
        example: 1
        schema:
          type: integer
          enum:
          - 1
      responses:
        '200':
          description: Service is running
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HealthResult'
        '400':
          description: Bad request
        '429':
          description: Too Many Requests
        '500':
          description: Service is down
        '503':
          description: Service infrastructure is down
      security:
      - oauth2: []
components:
  schemas:
    HealthResult:
      required:
      - status
      unevaluatedProperties: false
      properties:
        message:
          description: Human-readable message describing the health status
          type: string
          example: Service unhealthy
        status:
          description: Health status indicator
          type: string
          enum:
          - ok
          - fail
          example: fail
  securitySchemes:
    oauth2:
      type: oauth2
      description: 'OAuth2 client credentials grant. The token endpoint URL depends on the region:

        - EU: `https://identity.prod-eu.prod.cc.relexsolutions.com/monitoring_api_prod/connect/token`

        - US: `https://identity.prod-us.prod.cc.relexsolutions.com/monitoring_api_prod/connect/token`

        '
      flows:
        clientCredentials:
          tokenUrl: https://identity.prod-eu.prod.cc.relexsolutions.com/monitoring_api_prod/connect/token
          scopes: {}
